@{
    ViewData["Title"] = "Strona główna";
}

<div class="text-center">
    <h1 class="display-4">Witaj</h1>
    <p>Przeczytaj więcej o <a href="https://docs.microsoft.com/aspnet/core">budowaniu aplikacji Webowych z użyciem ASP.NET Core</a>.</p>
</div>
